.about {
    padding-top: 245px;
    padding-bottom: 245px;
}


h2 {
  font-weight: 700;
  font-size: 17px;
  line-height: 22px;
  text-align: center;
  color: #222222;
}

p {
  font-weight: 400;
  font-size: 32px;
  line-height: 45px;
  text-align: center;
  color: #222222;
}

.content {
  width: 100%;
  max-width: 869px;
  margin: 0 auto;
}
